body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    background-image:url('shopping.jpg');
}

header {
    background-color: #3e4356;
    color: #b21414;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #444;
    padding: 10px;
}

nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #fff;
    font-style: italic ;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #555;
}
section {
    padding: 10px;
    margin: 100px;
    background-color:#d8d9e1;
}

footer {
    background-color: #343030;
    color: #fb6508;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.login-register a:hover{
    background-color: #6f6b6b;
}
.login-register {
    text-align: center;
    margin-top: 20px;
}

.login-register a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #b21414;
    margin-right: 10px;
}
